@font-face{
    font-family: 'MyriadPro', sans-serif;
    src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face{
    font-family: 'MyriadPro', sans-serif;
    src: url('../fonts/MyriadPro-Semibold.woff2') format('woff2'),
        url('../fonts/MyriadPro-Semibold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face{
    font-family: 'MyriadPro', sans-serif;
    src: url('../fonts/MyriadPro-Bold.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}